a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
    transition: color 0.3s ease;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #0280b5;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    background-color: #0092cf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
header section {
    flex: 1;
    display: flex;
    justify-content: end;
}

header nav {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

main {
    flex: 1;
}

main section {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

footer section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
    background-color: #0092cf;
    z-index: 1;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}
.testimonial {
    background-color: rgba(0,130,181);
    padding: 15px;
    border-radius: 10px;
}
.testimonial-hidden {
    display: none;
}
button {
    margin: 5px 0;
    padding: 8px 16px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}
.slideshow-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.slide {
    display: none;
}
.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.slide-text {
    padding: 20px;
    background-color: rgba(0,130,181,0.8);
}
.slide-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.nav-btn {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    user-select: none;
}
.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.contact-form, .contact-info {
    width: 45%;
}
form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; 
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1; 
}