a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    min-height: 100vh;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.image {
    max-width: 400px;
    max-height: 400px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}