<nav>
    <a href ="https://www.webpages.charlotte.edu/dobele" target="_blank">UNCC Home Page</a>
    |
    <a href ="https://www.github.com/davidobele" target="_blank">GitHub</a>
    |
    <a href ="https://www.davidobele.github.io/" target="_blank">GitHub Pages</a>
    |
    <a href ="https://www.davidobele.github.io/itis3135/" target="_blank">GitHub Course Page</a>
    |
    <a href ="https://freecodecamp.org/davidobele" target="_blank">FreeCodeCamp</a>
    |
    <a href ="https://www.codecademy.com/profiles/davidobele" target="_blank">Codecademy</a>
    |
    <a href ="https://www.linkedin.com/in/davidobele/" target="_blank">LinkedIn</a>
</nav>
<section>
    <p>Designed by &copy; <a href="DOdesign.html" target="_blank">DODesgin</a>&nbsp;Certified in <a href="https://www.freecodecamp.org/certification/davidobele/responsive-web-design" target="_blank">Responsive Web Design</a> and <a href="https://www.freecodecamp.org/certification/davidobele/javascript-algorithms-and-data-structures-v8" target="_blank">JS</a>&nbsp;</p>
    <a href="https://validator.w3.org/check?uri=" target="_blank"><img src="components/htmlValidationButton.png" alt="Valid HTML!"></a>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=" target="_blank"><img src="components/cssValidationButton.png" alt ="Valid CSS!"></a>
</section>