<nav>
    <a href ="www.webpages.charlotte.edu/dobele" target="_blank">UNCC Home Page</a>
    |
    <a href ="www.github.com/davidobele" target="_blank">GitHub</a>
    |
    <a href ="www.davidobele.github.io/" target="_blank">GitHub Pages</a>
    |
    <a href ="www.davidobele.github.io/itis3135/" target="_blank">GitHub Course Page</a>
    |
    <a href ="www.freecodecamp.org/davidobele" target="_blank">FreeCodeCamp</a>
    |
    <a href ="www.codecademy.com/profiles/davidobele" target="_blank">Codecademy</a>
    |
    <a href ="www.linkedin.com/in/davidobele/" target="_blank">LinkedIn</a>
</nav>
<section>
    <p>Designed by &copy; <a href="itis3135/DOdesign.html">DODesgin</a>&nbsp;&nbsp;</p>
    <a href="https://validator.w3.org/check?uri=referer" target="_blank"><img src="components/htmlValidationButton.png" alt="Valid HTML!">&nbsp;</a>
    <a ref="https://jigsaw.w3.org/css-validator/check/referer" target="_blank"><img src="components/cssValidationButton.png" alt ="Valid CSS!"></a>
</section>