<h1>David Obele Decisive Ox || ITIS 3135 || Home</h1>
<p><em>Powering Smart Decisions, Driving Bold Results</em></p>
<nav>
    <a href ="../index.html">Home</a>
    |
    <a href ="introduction.html" target="_blank">Introduction</a>
    |
    <a href ="contract.html" target="_blank">Contract</a>
    |
    <a href ="website_evaluations.html" target="_blank">Website Evaluations</a>
</nav>
<nav>
    <a href="about.html" target="_blank">Business</a>
    |
    <a href="hobby.html" target="_blank">Hobby</a>
    |
    <a href="DOdesign.html" target="_blank">Design Firm</a>
    |
    <a href="../stuff/age ffrfrfrrrr%frr9 .htm" target="_blank">Crappy</a>
</nav>